<h1>Create Car Workshop</h1>

<hr/>

<div class="row">
    <div class="col-md-4">
        <form action="/CarWorkshop/Create" method="post">
            <div class="form-group mb-3">
                <label class="control-label" for="NameofPart">NameofPart</label>
                <input class="form-control" type="text" id="NameofPart" name="NameofPart">
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="IndeksNumber">IndeksNumber</label>
                <input class="form-control" type="text" id="IndeksNumber" name="IndeksNumbe">
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="Description">Description</label>
                <input class="form-control" type="text" id="Description" name="Description">
            </div>
        </form>
    
    </div>

</div>
